@{
    ViewData["Title"] = "Users";
}
<h1>Users</h1>
<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    @if (ViewBag.RolesForUsers.ContainsKey(user.Id))
                    {
                        <form method="post" asp-controller="Admin" asp-action="AddUserToRole">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <select name="roleName">
                                @foreach (var role in ViewBag.RolesForUsers[user.Id])
                                {
                                    <option value="@role">@role</option>
                                }
                            </select>
                            <button type="submit" class="btn btn-primary">Add Role</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>